body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: lightcyan;
  margin: 0;
  padding: 0;
}

header {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: blue;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  margin: 0px 0px 25px 0px;
}

form {
  font-family: Georgia, "Times New Roman", Times, serif;
  float: left;
}

#head {
  font-size: 80px;
}